# This is a basic workflow to help you get started with Actions

name: diff

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
     
  schedule:
     - cron: '0 0 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
 
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      working-directory: ./target-repo

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up yq
        uses: frenck/action-setup-yq@v1
      
      - name: Set up Python
        uses: actions/setup-python@v3.1.2
        
      - name: Install python module
        run : pip install jinja2 pyyaml langid sklearn
        
      - name: Checkout to gh-pages branch
        run : |
              git remote update
              git fetch
              git checkout gh-pages
              git branch -a
        
      - name: Move scripts and setting files to gh-pages branch
        run : |
              git checkout origin/main ./scripts
              git checkout origin/main ./settings.yml
              git reset HEAD ./scripts
              git reset HEAD ./settings.yml

      - name: Set Translate API key
        run: yq -i e '.keys.translate-api = "${{ secrets.TRANSLATEAPI }}"' settings.yml

      - name: Read setting file
        run: yq -o=props settings.yml > ./settings.props
         
      - name: Clone repository
        run : git clone $(cat settings.props | grep "document.translated.url" | cut -f 2 -d '=' | tr -d ' ') ${{ env.working-directory }}
          
      - name: Add upstream
        run : git remote add upstream $(cat ../settings.props | grep "document.original.url" | cut -f 2 -d '=' | tr -d ' ')
        working-directory: ${{ env.working-directory }}
      
      - name: Print repository
        run : git remote -v
        working-directory: ${{ env.working-directory }}

      - name: Fetch upstream
        run : git fetch upstream
        working-directory: ${{ env.working-directory }}
        
      - name: Checkout to upstream
        run : git checkout upstream/$(cat ../settings.props | grep "document.original.branch" | cut -f 2 -d '=' | tr -d ' ')
        working-directory: ${{ env.working-directory }}
        
      - name: Copy python scripts & settings file
        run : |
              cp -r scripts ${{ env.working-directory }}
              cp -r data ${{ env.working-directory }}
              cp settings.yml ${{ env.working-directory }}
        
      - name: Run python script
        run : python scripts/git_diff.py $(cat ../settings.props | grep "document.original.branch" | cut -f 2 -d '=' | tr -d ' ') upstream/$(cat ../settings.props | grep "document.original.branch" | cut -f 2 -d '=' | tr -d ' ') _posts/$(date --rfc-3339=date)-$(cat ../settings.props | grep "document.title" | cut -f 2 -d '=' | tr -d ' ').md
        working-directory: ${{ env.working-directory }}

      - name: Set config
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run : |
          git config --global user.email ${{ secrets.USER_EMAIL }}
          git config --global user.name ${{ secrets.USER_NAME }}
        
      - name: Push to gh-pages branch
        run : |
          git add _posts/*.md
          git commit -m "$(date --rfc-3339=date) post added"
          git push origin gh-pages --force

